
/* Desktop Version Home Page */
@media only screen and (min-width: 768px) {
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}  
.nav-social {
   background-color: #3E3E3E; 
   height:20px;
   text-align: right;
   padding-right: 15%;
   padding-top: 0.5%;
   padding-bottom: 1%;
}
.nav-social span {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 2%;
}

.nav-social #facebook {
    height: 20px;
    width: 12px;
    margin-right: 10px;
}
.nav-social #twitter {
    height: 20px;
    width: 20px;
    margin-left: 1%;
}

.nav-menu{
    background: #FFF;
    height: 40px;
}

.nav-branding {
    margin-left: 12%;
    margin-top: 1%;
    margin-right: 10%;
  }

  .nav-li li {
    list-style: none;
  }

  .nav-li a {
    text-decoration: none;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }
  .nav-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 35%;
    margin-top: 2%;
  }
  .nav-link {
    transition: 0.7s ease;
    color: #868686;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .nav-link:hover {
    color: #F07F7E;
  }
  #cc-campaign{
    color: #EC4327;
    border: 5px solid #EC4327;
    padding: 10px;
  }
  .home{
    width: 100vw;
    background: linear-gradient(rgba(217, 217, 217, 0.927), rgba(217, 217, 217, 0.889)),
    url('img/conference.jpeg');
    background-size: cover;
  }
  .hello-title{
    padding-top: 90px ;
    margin-left: 13%;
    font-size: 40px;
    color: #EC4327;
    font-family: 'Lato', sans-serif;
  }
  .home h1{
    margin-top: -20px;
    margin-left: 13%;
    color: #EC4327;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    margin-bottom: 2%;
  }
  .word{
    padding-top: 1px ;
    margin-left: 13%;
    margin-right: 40%;
    font-size: 25px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    border: 5px solid #fcf9f9;
    padding: 10px;
  }
  h2 {
    margin-bottom:-1.5%;
    margin-left: 13%;
    margin-right: 40%;
    font-size: 30px;
    color: #515151;
    font-family: 'Lato', sans-serif;
  }
  .last-word {
    margin-left: 13%;
    margin-right: 40%;
    font-size: 20px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
  }
.main{
  padding-left: 15%; 
  padding-right: 20%;
  background: linear-gradient(rgba(59, 62, 69, 0.327), rgba(59, 62, 69, 0.327)),
  url("img/pexels-eva-bronzini-7599547.jpg");
  background-size: cover;
  margin-top: -2%;
  margin-bottom: 2%;
  padding-bottom: 5%;
}
.main h2{
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}
hr {
  color: #EC4327;
  width: 50px;
  height: 3px;
  background-color: #EC4327;
  border-color: #EC4327;
}

.about-grid-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1%;
}

.grid-container-ab {
  max-width: 327px;
  height: 231px;
  width: 200px;
  margin-top: 30%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 2fr 1fr 2fr; 
  background:linear-gradient(rgba(59, 62, 69, 0.900), rgba(59, 62, 69, 0.900));
  border-color: #3B3E45;
  border-width: 50px;
  border: 1px solid #3B3E45;
  padding-bottom: 20px;
}

.grid-lecture {
  border-radius: 8px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  width: 17.53px;
  height: 20.39px;
}
.title h3 {
  color: #EC4327;
  font-family: 'Lato', sans-serif;
  margin-top: 30%;
  text-align: center;
  margin-bottom: -3%;
  font-size: 25px;
}
.grid-container-ab p{
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.72px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6%;
}

.grid-lecture img{
  margin-left: 50%;
  margin-right: 50%;
}
.main-down-word{
  padding-top: 3%;
  text-align: center;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
  margin-bottom: -2%;
  margin-left: 3%;
}
/* ----------------------Featured ---------------------- */

.featured-speakers-heading h5{
color: #000;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.3px;
margin-bottom: 1px;
margin-top: -45px;
margin-right: -10%;
margin-left: 21%;
}

.featured-speakers-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1%;
  background-color: #fff;
  width: 100%;
  padding-left: 10%;
  padding-right: 8%;
}

#line {
  width: 3rem;
  background-color: red;
  height: 2px;
  align-self: center;
  margin-bottom: 5%;
  margin-top: 1%;
  margin-right: 65%;
  margin-left: 21%;
}

.featured-speakers-heading .line {
  display: flex;
  width: 1.2rem;
  background-color: #8b8b8d;
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 1px;
}

#featured-speakers {
  width: 100%;
  padding-left: 8%;
}

.featured-speakers-section {
  display: inline-flex;
  flex-direction: column;
}

.featured-speakers {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.speakers {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 100%;
}

.speakers .images {
  width: 40%;
  margin-right: 1rem;
}

.speaker-texts {
  display: flex;
  flex-direction: column;
  gap: 8%;
  justify-content: center;
}

.featured-speakers .speaker-name {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
  margin: 0;
}
.speaker-name{
color: #000;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.48px;
margin-top: 50%;
}

.proffesions {
color: #F78C89;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: -1.35px;
margin-top: -5%;
margin-bottom: -3%;
padding-right: 50%;
}
.speech {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.7px;
  margin-top: -1%;
  padding-right: 50%;
}
.more-mobile{
  display: none;
}

/* End ----------------------Featured ---------------------- */

.partner p{
  color: #8F8F91;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
  text-align: center;
  padding-top: 2%;
  }

.partner{
  background-color: #414246;
}
.images-partner{
  padding-left: 12%;
  padding-right: 12%;
  padding-top: -1%;
  padding-bottom: 2%;
}
.images-partner img{
  padding-left: 3%;
}

.big-footer{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr; 
  padding-bottom: 3%;
}
.image{
  text-align: right;
  padding-right: 15%;
  padding-top: 9%;
}
.text{
  padding-top: 4%;
  padding-right: 20%;
  font-size: 18px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.14px;
    
}
}