
/* -------------- Mobile Version homes Page Starts-------------- */
@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Here are the tried codes */

  .nav-social {
    display: none;
  }

  .nav-menu li {
    list-style: none;
  }

  .nav-menu a {
    text-decoration: none;
  }

  .nav-menu {
    background-color: #fff;
    margin: 0%;
    margin-bottom: -10%;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-branding {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(251 250 248);
    margin-bottom: 5%;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 28%;
  }

  .nav-link {
    transition: 0.7s ease;
    color: #3a4a42;
    font-size: 20px;
    font-family: Inter, sans-serif;
  }

  .nav-link:hover {
    color: blue;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: -1%;
    margin-bottom: 6%;
  }

  .bar {
    display: block;
    width: 40px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background-color: #67798e;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(50deg);
    margin-left: 970%;
  }

  .hamburger.active .bar:nth-child(4) {
    transform: translateY(-8px) rotate(-50deg);
    margin-left: 970%;
  }

  .nav-li {
    position: fixed;
    left: -110%;
    top: 60px;
    flex-direction: column;
    background-color: #fff;
    transition: 0.3s;
    display: flex;
    gap: 3px;
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .nav-item {
    gap: 4px;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .nav-li.active {
    left: 0;
  }

  .home {
    width: 100vw;
    background:
      linear-gradient(rgba(217, 217, 217, 0.927), rgba(217, 217, 217, 0.889)),
      url('img/conference.jpeg');
    background-size: cover;
  }

  .hello-title {
    padding-top: 90px;
    margin-left: 7%;
    font-size: 20px;
    color: #ec4327;
    font-family: 'Lato', sans-serif;
  }

  .home h1 {
    margin-top: -20px;
    margin-left: 7%;
    color: #ec4327;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 2%;
  }

  .word {
    margin-left: 5%;
    margin-right: 8%;
    font-size: 10px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    border: 5px solid #fcf9f9;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  h2 {
    margin-bottom: -1.5%;
    margin-left: 13%;
    margin-right: 40%;
    font-size: 30px;
    color: #515151;
    font-family: 'Lato', sans-serif;
  }

  .home h2 {
    margin-bottom: -2%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 4%;
    font-size: 20px;
    color: #515151;
    font-family: 'Lato', sans-serif;
  }

  .last-word {
    margin-left: 7%;
    margin-right: 4%;
    font-size: 12px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    padding-bottom: 50px;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:
      linear-gradient(rgba(59, 62, 69, 0.327), rgba(59, 62, 69, 0.327)),
      url("img/pexels-eva-bronzini-7599547.jpg");
    background-size: cover;
    margin-top: -5%;
    margin-bottom: 2%;
    padding-bottom: 10%;
    margin-left: -10%;
  }

  .main h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .main a {
    display: none;
  }

  hr {
    color: #ec4327;
    width: 50px;
    height: 3px;
    background-color: #ec4327;
    border-color: #ec4327;
  }

  .about-grid-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
  }

  .grid-container-ab {
    max-width: 327px;
    height: 80px;
    width: 300px;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 1fr 2fr;
    background: linear-gradient(rgba(59, 62, 69, 0.9), rgba(59, 62, 69, 0.9));
    border-color: #3b3e45;
    border-width: 50px;
    border: 1px solid #3b3e45;
    margin-left: 4%;
  }

  .lecture {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: 1fr;
  }

  .grid-lecture {
    border-radius: 8px;
    width: 15.53px;
    height: 17.39px;
  }

  .title h3 {
    color: #ec4327;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-bottom: 3%;
    font-size: 12px;
    margin-left: 22%;
    margin-top: 44%;
  }

  .grid-container-ab p {
    color: #fff;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.25px;
    padding-left: 13%;
    padding-right: 3%;
  }

  .grid-lecture img {
    margin-left: 50%;
    margin-right: 50%;
  }

  .main-down-word {
    display: none;
  }

  .joincc {
    margin-top: 13%;
    margin-left: 12%;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ff4f38;
    border-color: #ff4f38;
  }

  .featured-speakers-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    background-color: #fff;
    width: 100%;
  }

  #line {
    width: 3rem;
    background-color: red;
    height: 0.05rem;
    align-self: center;
    margin-bottom: 5%;
  }

  .featured-speakers-heading h5 {
    align-self: center;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1px;
    margin-top: 2%;
  }

  .featured-speakers-heading hr {
    background-color: #a04038;
    border-color: #a04038;
    height: 0.5px;
  }

  .featured-speakers-heading .line {
    display: flex;
    width: 1.2rem;
    background-color: #8b8b8d;
    align-self: flex-start;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
  }

  #featured-speakers {
    width: 100%;
    padding-left: 8%;
  }

  .featured-speakers-section {
    display: inline-flex;
    flex-direction: column;
  }

  .featured-speakers {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .speakers {
    display: grid;
    flex-direction: row;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 1fr;
    padding-right: 0%;
    padding-bottom: 6%;
    width: 100%;
  }

  .speakers .images {
    width: 10px;
    height: 100px;
    margin-right: 1rem;
  }

  .images img {
    width: 100px;
    height: 100px;
  }

  .speaker-texts {
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: center;
    margin-left: 1%;
    padding-top: 10%;
    margin-right: 20%;
  }

  .featured-speakers .speaker-name {
    font-size: 4vw;
    font-weight: 800;
    padding-bottom: 5px;
    margin: 0;
    margin-left: 1%;
  }

  .proffesions {
    color: red;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
  }

  .speech {
    font-weight: 600;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
    margin-right: -20%;
  }

  .more {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    border: 1px solid gray;
    align-self: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .more p {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 3%;
  }

  .featured-speakers-heading button {
    width: 300px;
    height: 45px;
    border-color: #8b8b8d;
    background-color: #fff;
    margin-left: 10%;
    border-radius: 8px;
  }

  .more-mobile p {
    display: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .more-mobile img {
    margin-left: 5%;
    display: none;
  }

  .more-mobile button {
    display: none;
  }

  .partner {
    display: none;
  }

  .footer {
    display: none;
  }
}

/* -------------- Mobile Version Home Page Ends-------------- */

/* -------------- Desktop Version Home Page Start-------------- */
@media only screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .nav-social {
    background-color: #3e3e3e;
    height: 20px;
    text-align: right;
    padding-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 1%;
  }

  .nav-social span {
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 2%;
  }

  .nav-social #facebook {
    height: 20px;
    width: 12px;
    margin-right: 10px;
  }

  .nav-social #twitter {
    height: 20px;
    width: 20px;
    margin-left: 1%;
  }

  .nav-menu {
    background: #fff;
    height: 40px;
  }

  .nav-branding {
    margin-left: 12%;
    margin-top: 1%;
    margin-right: 10%;
  }

  .nav-li li {
    list-style: none;
  }

  .nav-li a {
    text-decoration: none;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  .nav-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 35%;
    margin-top: 2%;
  }

  .nav-link {
    transition: 0.7s ease;
    color: #868686;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .nav-link:hover {
    color: #f07f7e;
  }

  #cc-campaign {
    color: #ec4327;
    border: 5px solid #ec4327;
    padding: 10px;
  }

  .home {
    width: 100vw;
    background:
      linear-gradient(rgba(217, 217, 217, 0.927), rgba(217, 217, 217, 0.889)),
      url('img/conference.jpeg');
    background-size: cover;
  }

  .hello-title {
    padding-top: 90px;
    margin-left: 13%;
    font-size: 40px;
    color: #ec4327;
    font-family: 'Lato', sans-serif;
  }

  .home h1 {
    margin-top: -20px;
    margin-left: 13%;
    color: #ec4327;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    margin-bottom: 2%;
  }

  .word {
    margin-left: 13%;
    margin-right: 40%;
    font-size: 25px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    border: 5px solid #fcf9f9;
    padding: 10px;
  }

  h2 {
    margin-bottom: -1.5%;
    margin-left: 13%;
    margin-right: 40%;
    font-size: 30px;
    color: #515151;
    font-family: 'Lato', sans-serif;
  }

  .last-word {
    margin-left: 13%;
    margin-right: 40%;
    font-size: 20px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 20%;
    background:
      linear-gradient(rgba(59, 62, 69, 0.327), rgba(59, 62, 69, 0.327)),
      url("img/pexels-eva-bronzini-7599547.jpg");
    background-size: cover;
    margin-top: -2%;
    margin-bottom: 2%;
    padding-bottom: 5%;
  }

  .main a {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -5%;
  }

  .main h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  hr {
    color: #ec4327;
    width: 50px;
    height: 3px;
    background-color: #ec4327;
    border-color: #ec4327;
  }

  .about-grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.3%;
  }

  .grid-container-ab {
    max-width: 327px;
    height: 210px;
    width: 200px;
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 1fr 2fr;
    background: linear-gradient(rgba(59, 62, 69, 0.9), rgba(59, 62, 69, 0.9));
    border-color: #3b3e45;
    border-width: 50px;
    border: 1px solid #3b3e45;
    padding-bottom: 20px;
  }

  .grid-lecture {
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: 17.53px;
    height: 20.39px;
  }

  .title h3 {
    color: #ec4327;
    font-family: 'Lato', sans-serif;
    margin-top: 30%;
    text-align: center;
    margin-bottom: -3%;
    font-size: 25px;
  }

  .grid-container-ab p {
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6%;
  }

  .grid-lecture img {
    margin-left: 50%;
    margin-right: 50%;
  }

  .main-down-word {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    text-decoration-line: underline;
  }

  /* ----------------------Featured ---------------------- */
  .featured-speakers-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    background-color: #fff;
    width: 100%;
  }

  .feat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20%;
  }

  .featured-speakers-heading h5 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    margin-bottom: 1px;
    margin-top: -45px;
  }

  #line {
    width: 3rem;
    background-color: red;
    height: 2px;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 1%;
    margin-right: 65%;
    margin-left: 21%;
  }

  .featured-speakers-heading .line {
    display: flex;
    width: 1.2rem;
    background-color: #8b8b8d;
    align-self: flex-start;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
  }

  #featured-speakers {
    width: 100%;
  }

  .featured-speakers-section {
    display: inline-flex;
    flex-direction: column;
  }

  .speakers {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100%;
  }

  .speakers .images {
    width: 40%;
    margin-right: -4%;
  }

  .speaker-texts {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
  }

  .speaker-name {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-top: 50%;
  }

  .featured-speakers .speaker-name {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
    margin: 0;
  }

  .proffesions {
    color: #f78c89;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -1.35px;
    margin-top: -5%;
    margin-bottom: -3%;
    padding-right: 50%;
  }

  .speech {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.15px;
    margin-top: -1%;
    padding-right: 50%;
  }

  .more-mobile {
    display: none;
  }

  /* End ----------------------Featured ---------------------- */

  .partner p {
    color: #8f8f91;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 2%;
  }

  .partner {
    background-color: #414246;
  }

  .images-partner {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: -1%;
    padding-bottom: 2%;
  }

  .images-partner img {
    padding-left: 3%;
  }

  .big-footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    padding-bottom: 3%;
  }

  .image {
    text-align: right;
    padding-right: 15%;
    padding-top: 9%;
  }

  .text {
    padding-top: 4%;
    padding-right: 20%;
    font-size: 18px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.14px;
  }

  .main button {
    display: none;
  }
}

/* -------------- Desktop Version Home Page Ends-------------- */
